# FastAPI
ENV=development
DEBUG=True
CORS_ORIGINS=http://localhost:3000

# AI Services
GEMINI_API_KEY=yAIzaSyAdtQSJ4ABBqFb3v75m9EZaghO-pJ5BsAM
WOLFRAM_APP_ID=T4X8XQH5EY
GROQ_API_KEY=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 

# Voice
ELEVENLABS_API_KEY=a8de2da9e1b28cfa0881fbcf88dce3d0598526c00e92ed98486f91eafa6ed346
ELEVENLABS_DEFAULT_VOICE_ID=93nuHbke4dTER9x2pDwE

# Redis
UPSTASH_REDIS_URL=rediss://default:ARwiAAImcDI1MmM5MjNiZTJmZjg0ZmUzOGE0MDUyZWQ1NThjNTI4ZnAyNzIwMg@classic-viper-7202.upstash.io:6379

# WebRTC
STUN_SERVER=stun:stun.l.google.com:19302
TURN_SERVER=turn:openrelay.metered.ca:80
TURN_USERNAME=openrelayproject
TURN_CREDENTIAL=openrelayproject

# Rate limiting
RATE_LIMIT_PER_MINUTE=60
