fastapi==0.115.0
uvicorn[standard]==0.30.6
python-socketio==5.11.4

sqlalchemy==2.0.36
psycopg2-binary==2.9.9

python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.6.1

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
email-validator==2.2.0

redis==5.0.8

google-generativeai==0.8.3
elevenlabs==1.8.0

numpy==2.3.4
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.16.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
wheel==0.45.1
joblib==1.5.2